<h3></h3>

<ul ng-show='stats.degrees'>
  <li><b>Degrees</b></li>
  <li ng-repeat='degree in stats.degrees'>{{degree.percentage * 100}}%<span class='name'>{{degree.name}} </span></li>
</ul>

<ul ng-show='stats.schools'>
  <li><b>Schools</b></li>
  <li ng-repeat='school in stats.schools'>{{school.percentage * 100}}%<span class='name'>{{school.name}} </span></li>
</ul>

<ul ng-show='stats.fieldsOfStudy'>
  <li><b>Fields of Study</b></li>
  <li ng-repeat='fieldOfStudy in stats.fieldsOfStudy'>{{fieldOfStudy.percentage * 100}}%<span class='name'>{{fieldOfStudy.name}}</span></li>
</ul>