html {
  background-color: white;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background: none;
}

button:focus, .btn:focus {outline:0;}

.navbar {
  background-color: #002B5E;
  padding: 15px 0;
  z-index: 1;
}
.navbar-header a {
  color: white;
  text-decoration: none;
}
.navbar-header h1 {
  font-size: 3em;
  margin: 0;
  font-family: 'Expletus Sans', cursive;
  margin-top: 5px;
}
.navbar-form {
  float: right;
  margin: 0;
  padding: 0;
}

.splashBack{
  background: url(../assets/bg-fastroad2.jpg) no-repeat center center fixed;
  height:100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.splashPage {
  color: white;
  text-align: center; }
  .splashPage h1 {
    font-family: 'Expletus Sans', cursive;
    font-weight: 400;
    font-size: 12em;
    color: white;
    margin-top: 100px;
    }
  .splashPage h2 {
    font-size: 2em;
    text-align: center;
    margin: 50px 0 20px; }
  .splashPage input {
    background: none;
    width: 90%;
    border: 1px solid #FFF;
    padding: 15px 20px;
    font-size: 1.8em;
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 3px; }
  .splashPage input:focus {
    outline: none; }

.splashRow {
  margin-top: 5%;
}

.discoverPaths {
  margin: 50px 0 100px;
  border-top: 1px solid #C5C5C5;
  padding-top: 50px; }
  .discoverPaths h2 {
    margin-bottom: 30px; }


/* JOURNEY VIEW */
.journeyView {
  color: #002B5E;
  margin-top: 90px;
  margin-bottom: 55px;
}
.journeyView h3 {
  font-size: 1.8em;
  font-weight: 600;
}
.sectionTitles {
  border-bottom: 1px solid #002B5E;
  padding-bottom: 15px;
  height: 60px;
}
.sectionTitles h1 {
  font-size: 2.3em;
  font-weight: 600;
}
.sectionTitles h2 {
  font-weight: 400;
  font-size: 1.8em;
}
.sectionTitles h1, .sectionTitles h2 {
  margin: 0;
}
.sectionTitles button {
  position: absolute;
  right: 15px;
  top: 3px;
}
.offsetSectionTitles {
  height: 60px;
}

.onePath {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 3px; }
  .onePath h3 {
    color: white;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    font-size: 2em;
    height: 0; }
  .onePath img {
    -webkit-filter: blur(2px) brightness(0.5);
    filter: blur(2px) brightness(0.5);
    border-radius: 3px;
    width: 100%; }
  .onePath img:hover {
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
    cursor: pointer; }
  .onePath h3:hover {
    cursor: pointer; }

.chart {
  height: 350px;
}
.chartLarge {
  height: 600px;
}

#experienceStatsDiv {
  height: 600px;
}

#experienceStatsDiv {
  height: 600px;
}

table, th, td {
  font: Helvetica;
  font-size: 20px;
  color: white;
}

table {
  width: 50%;
}

th {
  height: 100px;
}

/*homepage autocomplete dropdown*/
.ui-autocomplete {
  list-style: none;
  max-height: 200px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100px;
}

/*header autocomplete dropdown*/
.ui-autocomplete {
  border: 1px solid #002B5E;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  top: 15px;
  padding: 20px 0;
}

.ui-menu-item {
  padding: 5px 10px;
  color: #606060;
  font-size: 14px;
}
.ui-menu-item:hover {
  background-color: #E9E9E9;
  cursor: pointer;
}
.ui-state-focus {
  background-color: #E9E9E9;
  outline: none;

}

.header-search.ui-autocomplete-input {
  box-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid white;
  height: 40px;
  width: 280px;
  font-size:14px;
  background-color: #003778;
  color: white;
  padding-left: 15px;
  z-index: 10;
}

.ui-autocomplete-input:focus {
  outline: none;
}

.ui-state-focus {
  background:#E9E9E9;
  outline:none;
}

.ui-helper-hidden-accessible {
  display: none;
  position: absolute;
  left:-999em;
}

.profiles {
  padding: 0;
  margin-top: 20px;
  list-style: none;
}
.profiles li {
  min-height: 60px;
  margin-bottom: 15px;
  cursor: pointer;
}
.profiles li:hover {
  background-color: #EDEDED;
}

.profiles li img {
  width: 60px;
  border-radius: 3px;
  float: left;
}
.profileInfo {
  display: inline-block;
  margin-left: 10px;
  width: 192px;
}
.profileInfo h1, .profileInfo h2 {
  font-size: 1.5em;
  margin: 0;
}
.profileInfo h1 {
  font-weight: 600;
  margin-top: 4px;
}

.hideCol {
  display: none;
}

.offsetHeader {
  position: absolute;
  top: 15px;
}

.rightCol {
  margin-right: -7.5%;
  top: 90px;
  bottom: 0;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  right: 115px;
  width: 370px;
}

/* FILTER NAVIGATION */
#navigation {
  font-size: 1.5em;
}
#navigation label {
  margin-right: 10px;
  font-weight: normal;
}
#navigation input {
  border: none;
  border-bottom: 1px solid;
  padding: 10px;
  font-weight: bold;
  width: 250px;
}
#navigation input:focus {
  font-weight: normal;
}
::-webkit-input-placeholder {
   font-weight: normal;
}

:-moz-placeholder { /* Firefox 18- */
   font-weight: normal;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-weight: normal;
}

:-ms-input-placeholder {
   font-weight: normal;
}

.filterField {
  display: inline-block;
  position: relative;
}
.fromField {
  margin-right: 25px;
}
.showAll {
  background: url(../assets/triangle-down.png) no-repeat;
  -webkit-background-size: 15px;
  -moz-background-size: 15px;
  -o-background-size: 15px;
  background-size: 15px;
  display: inline-block;
  width: 20px;
  height: 17px;
  position: absolute;
  top: 10px;
  right: 2px;
  cursor: pointer;
}

/* FILTERED PATHS VIEW */
.filteredPaths {
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
.filteredPaths p {
  font-size: 1.5em;
  margin-bottom: 30px;
  display: inline-block;
}
.filteredPaths li {
  cursor: pointer;
  height: 100px;
  border-bottom: 1px solid #E7E7E7;
  padding: 15px 10px;
}
.filteredPaths li:hover {
  background-color: #EDEDED;
}
.filteredPaths li img {
  width: 70px;
  border-radius: 3px;
  float: left;
  margin-right: 15px;
}
.filteredPaths h1,
.filteredPaths h2,
.filteredPaths h3,
.filteredPaths h4 {
  font-size: 1.5em;
  margin: 0;
}
.filteredPaths h1 {
  font-weight: 600;
}
.filteredPaths h3 {
  font-style: italic;
  font-weight: 300;
}
.clearResults {
  display: inline-block;
  float: right;
  font-size: 1.3em;
  color: #5BC0DE;
  padding-top: 1px;
  cursor: pointer;
}

.filterProfileInfo, .filterFrom, .filterTo {
  display: inline-block;
  margin-right: 20px;
  height: 70px;
  width: 175px;
  vertical-align: top;
  padding-top: 8px;
}
.filterProfileInfo {
  padding-top: 18px;
}
.filterFrom {
  margin-right: 10px;
}
.filterTo {
  width: 195px;
  margin-right: 0;
}
.filterArrow {
  background: url(../assets/black-right-arrow.png) no-repeat;
  -webkit-background-size: 35px;
  -moz-background-size: 35px;
  -o-background-size: 35px;
  background-size: 35px;
  display: inline-block;
  width: 70px;
  height: 30px;
  margin-top: 30px;
}
.about-the-team {
  color: white;
  font-size: 15px;
  text-align: right;
  margin-top: 20%;
  background-color: black;
  height: 35px
}

.about-the-team-text {
  margin-right: 5%;
  margin-top: 50px;
  vertical-align: middle
}

/* PROFILE */
.profileContainer {
  margin-top: 90px;
}
#profile-card {
  height: 100px;
}
#profile-card img {
  width: 100px;
  border-radius: 3px;
  float: left;
}
.profileCardInfo {
  display: inline-block;
  margin-left: 15px;
}
.profileCardInfo h1, .profileCardInfo h2 {
  margin: 0;
  font-size: 1.5em;
}
.profileCardInfo h1 {
  font-weight: bold;
  margin-bottom: 4px;
}

/* PROFILE TIMELINE */

.timeline-svg {
  position : relative;
  background-color: #F5F5DC;
}

.innerJourney {
  margin-left:2.5%;
}

/*# sourceMappingURL=main.css.map */
