html {
  background-color: white;
}

body {
  font: 100% Helvetica, sans-serif;
  color: #333;
  background: none;
}

.navbar {
  background-color: #002B5E;
  padding: 15px 0;
  z-index: 1;
}
.navbar-header a {
  color: white;
  text-decoration: none;
}
.navbar-header h1 {
  font-size: 2.9em;
  margin: 0;
  font-family: "Galdeano", sans-serif;
}

.splashBack{
  background: url(../assets/bg-darkblue.jpg) no-repeat center center fixed;
  height:100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.splashPage {
  color: white;
  text-align: center; }
  .splashPage h1 {
    font-family: "Droid Serif", sans-serif;
    font-weight: 400;
    font-size: 12em;
    color: rgb(255, 172, 23);}
  .splashPage h2 {
    font-size: 2em;
    text-align: center;
    margin: 30px 0 20px; }
  .splashPage input {
    background: none;
    width: 90%;
    border: 1px solid #FFF;
    padding: 15px 20px;
    font-size: 1.8em;
    border-radius: 3px; }
  .splashPage input:focus {
    outline: none; }

.splashRow {
  margin-top: 5%;
}

.discoverPaths {
  margin: 50px 0 100px;
  border-top: 1px solid #C5C5C5;
  padding-top: 50px; }
  .discoverPaths h2 {
    margin-bottom: 30px; }



/* JOURNEY VIEW */
.journeyView {
  color: #002B5E;
  margin-bottom: 80px;
}
.journeyView h3 {
  font-size: 1.8em;
  font-weight: 600;
}
.sectionTitles {
  border-bottom: 1px solid #002B5E;
  padding-bottom: 15px;
  height: 60px;
}
.sectionTitles h1 {
  font-size: 2.3em;
  font-weight: 600;
}
.sectionTitles h2 {
  font-weight: 400;
  font-size: 1.8em;
}
.sectionTitles h1, .sectionTitles h2 {
  margin: 0;
}

.onePath {
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 3px; }
  .onePath h3 {
    color: white;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    font-size: 2em;
    height: 0; }
  .onePath img {
    -webkit-filter: blur(2px) brightness(0.5);
    filter: blur(2px) brightness(0.5);
    border-radius: 3px;
    width: 100%; }
  .onePath img:hover {
    filter: brightness(0.6);
    -webkit-filter: brightness(0.6);
    cursor: pointer; }
  .onePath h3:hover {
    cursor: pointer; }

.chart {
  height: 450px;
}
.chartLarge {
  height: 600px;
}

table, th, td {
  font: Helvetica;
  font-size: 20px;
  color: white;
}

table {
  width: 50%;
}

th {
  height: 100px;
}

.navbar-form {
  float: right;
  margin: 0;
}


/*homepage autocomplete dropdown*/
.ui-autocomplete {
  list-style: none;
  max-height: 200px;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100px;
}

/*header autocomplete dropdown*/
.ui-autocomplete {
  border: 1px solid #002B5E;
  border-radius: 3px;
  top: 15px;
  padding: 20px 0;
}

.ui-menu-item {
  padding: 5px 10px;
  color: #606060;
  font-size: 14px;
}

.ui-menu-item:hover {
  background-color: #E9E9E9
}

.header-search.ui-autocomplete-input {
  box-shadow: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid white;
  height: 40px;
  width: 300px;
  font-size:14px;
  background-color: #003778;
  color: white;
  padding-left: 10px;
  z-index: 10;
}

.ui-autocomplete-input:focus {
  outline: none;
}


.ui-helper-hidden-accessible {
  display: none;
  position: absolute;
  left:-999em;
}

.profiles {
  padding: 0;
  margin-top: 20px;
  list-style: none;
}

.profiles li {
  height: 60px;
  margin-bottom: 15px;
}

.profiles li img {
  cursor: pointer;
  width: 60px;
  border-radius: 3px;
  float: left;
}
.profileInfo {
  display: inline-block;
  margin-left: 10px;
  width: 192px;
}
.profileInfo h1, .profileInfo h2 {
  font-size: 1.5em;
  margin: 0;
}
.profileInfo h1 {
  font-weight: 600;
}
.profileInfo h1:hover {
  cursor: pointer;
  color: #004EAB;;
}

#profile-card {
  width: 250px;
  margin: 20px;
  padding: 25px;
  border-radius: 4px;
  background: url(../assets/bg-blue.jpg) no-repeat center center fixed;
}

#profile-card div {
  margin: 15px;
  padding: 15px;
  border-radius: 4px;
  background-color: white;
}

.hideCol {
  display: none;
}

.featuredHeader {
  position: absolute;
  top: 15px;
}


/*# sourceMappingURL=main.css.map */
