<!DOCTYPE html>
<html>
<head>
	<title>Journey</title>
	<link href='http://fonts.googleapis.com/css?family=Galdeano' rel='stylesheet' type='text/css'>
  <link href='bower_components/bootstrap/dist/css/bootstrap.css' rel="stylesheet" type="text/css" />
  <link href='bower_components/bootstrap/dist/css/bootstrap-theme.css' rel="stylesheet" type="text/css" />
	<link href="styles/main.css" rel="stylesheet">

</head>
<body id="thewholebody">

	<div class='splashPage container'>
    <div class='row '>
      <div class='col-md-6 col-md-offset-3'>
        <h1>Journey</h1>
        <h2>What position are you considering?</h2>
        <form>
          <input placeholder='e.g. Software engineer at Google' autocomplete='on'>
        </form>
      </div>
    </div>
  </div>

	<div>
		<div class="mainContent"></div>
	</div>

	<!-- DEPENDENCIES -->
	<!-- <script src="//localhost:3000/require/client"></script> -->
	<script src= "bower_components/jquery/dist/jquery.js"></script>
	<script src= "bower_components/underscore/underscore.js"></script>
	<script src= "bower_components/backbone/backbone.js"></script>
	<!-- <script src="/Users/sunshineyin/Desktop/HR/Journey/node_modules/backbone-autocomplete/views.autocomplete-view.js"></script> -->

	<!-- HARD CODED DATA FOR HOME PAGE VIEW -->
	<!-- <script src= "models/hardCodedPaths.js"></script> -->

	<!-- MODELS & COLLECTIONS -->
	<script src= "models/PositionModel.js"></script>
	<script src= "collections/PositionsCollection.js"></script>
	<script src= "models/DiscoverPathsModel.js"></script>
	<script src= "models/AppModel.js"></script>

	<!-- VIEWS -->
	<script src= "views/DiscoverPathsView.js"></script>
	<script src= "views/PositionsCollectionView.js"></script>
	<script src= "views/PositionView.js"></script>
	<!-- <script srce="views/AutoCompleteview.js"></script> -->
	<script src= "views/AppView.js"></script>
	<script src= "views/StatsTableView.js"></script>
	<script src= "views/JourneyView.js"></script>

	<!-- ROUTER -->
	<script src= "clientRouter.js"></script>


	<script>
      $(function(){

        var app = new AppModel();
        var appView = new AppView({model: app});

        $('.mainContent').append(appView.$el);
      });

    </script>
</body>
</html>
